.footer{
    padding: 1rem 2rem;
    background-color: rgb(50, 50, 50);
    color: white;
    &__titre{
        margin:1rem 0;
        font-size: 1rem;
    }
    &__link{
        font-size: .9rem;
        font-weight: 400;
        margin: .5rem 0;
        &__icone{
            width: .7rem;
            fill: white;
            margin-right: .3rem;
        }
        a{
            color: white;
        }
    }
}
@media all and (min-width: 705px) {
    .footer{
        display: flex;
        gap: 5rem;
        justify-content: center;
        height: 15rem;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            align-items: center;
        }
    }
}