.header {
    @include component-center;
    width: 100%;
    flex-direction: column;
    &__logo{
        @include component-center;
        z-index: 10;
        width: 100%;
        height: 5rem;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.219);
        background-color:white;
        &__fleche {
            position: absolute;
            width: 1rem;
            overflow: visible;
            left: 1rem;
        }
        img{
            width: 10rem;
        }
    }
    &__ville{
        @include component-center;
        z-index:0;
        background-color: rgb(219, 219, 219);
        height: 3.5rem;
        width: 100%;
        &__map{
            transform: translateX(-1rem);
        }
    }
    &__banniere{
        z-index: -99;
        height: 15rem;
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
}
@media all and (min-width: 705px) {
    .header__banniere{
        height: 25rem;
        img{
            transform: translateY(-50%);
        }
    }
}