.elmts__contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    height: 3.8rem;
    h3{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .4rem;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
    }
}
