@mixin component-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin shadow-primary {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}
@mixin shadow-hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}
@mixin titres {
    width: 90%;
    text-align: left;
    font-size: 1.5rem;
    left: 0;
}


